*.pyc
settings.py
conf/httpd.conf
log/kanban.pid
log/*.pyc
news/*.pyc
users/*.pyc
tickets/*.pyc
log/httpd-access_log
log/httpd-error_log
media/*.jpg
media/*.png
media/*.gif
kanban.mysql
kanban2.mysql
